*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Execicio 1 */
header{
    display: flex;
    background-color: mediumvioletred;
    justify-content: space-between;
    align-items: center;    
 
    padding:  30px;
}
header > div {
    display: flex;
   

}
header > div > h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    
    
}


#pesquisar{
    height: 30px;
}
header > button{
    padding: 2px 16px;
}

/* Exercico 2 */
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    
    flex-grow: 1;
}
main > div {
    background-color: #f2d0e0;
}
footer{
    background-color: mediumvioletred;
    padding: 25px;
}
/* Exercico 3 */

main{
    display: flex;
}
#menu-1{
    background-color: #f2d0e0;
    width: 200px;
    display: flex;
    flex-direction: column;

}

main > div{
  
    flex-grow: 1;
}
#conteudo {
   
    display: grid;
    grid-template-columns:repeat(4 , 1fr) ;
    grid-template-rows:repeat(4 , 1fr) ;
    row-gap: 0px;
    
    justify-items:center ;
 
}
#conteudo >div{
    box-shadow: 0px 5px 10px black;
    background-color: aliceblue;
    
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
#conteudo img{
    width: 300px;
    height: 250px;

}
footer{
    text-align: center;
}
